mixin emoji(date,name)
   a.insert_emoji(href="javascript:;",data-emoji=name,title=date)=name
   
.comment-emoji(style="display:none")
	+emoji("抛媚眼","😉")
	+emoji("大笑","😀")
	+emoji("微笑","🙂")
	+emoji("可爱","😊")
	+emoji("无聊","😴")
	+emoji("生气","😡")	
	+emoji("大哭","😭")
	+emoji("吃惊","😯")
	+emoji("伤心","🙁")
	+emoji("不屑","🙄")
	+emoji("鬼脸","😜")
	+emoji("吐舌","😛")
	+emoji("脸红","😳")
	+emoji("泪奔","😂")
	+emoji("纠结","😆")
	+emoji("OK","👌")
	+emoji("点赞","👍")
	+emoji("疑问","❓")
	+emoji("鼓掌","👏")
	+emoji("朋友","👭")
	+emoji("尴尬","😥")
	+emoji("耍酷","😎")
	+emoji("撇嘴","😕")
	+emoji( "吃药","💊")
	+emoji( "礼物","🎁")
	+emoji( "爱你","😍")
	+emoji("惊恐","😱")
	+emoji("无语","😶")
	+emoji("看不见","🙈")
	+emoji("哎","😔")
	+emoji("天哪","😲")
	+emoji("坏笑","😏")
	+emoji( "晕", "😵")
	+emoji( "汗", "😓")
	+emoji("鄙视","👎")
	+emoji("惊叹","❗")